@charset "UTF-8";
/* 共通部分
---------------------------------------------- */
html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #131D33;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: 1px solid red;
}

/*-- ブレイクポイントを変数に格納 --*/
/*-----レスポンシブ対応-----------*/
/* HEADER
----------------------------------------- */
#page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
}
@media screen and (max-width: 1185px) {
  #page-header {
    height: 50px;
  }
}
#page-header .header-logo {
  font-weight: 900;
  width: 160px;
  margin: 20px 0px 0px 20px;
  vertical-align: middle;
}
@media screen and (max-width: 1185px) {
  #page-header .header-logo {
    margin: 10px 0px 0px 10px;
  }
}
#page-header .site-title {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 190px;
  font-size: 0.875rem;
  /*14px*/
  font-weight: 900;
}
@media screen and (max-width: 1265px) {
  #page-header .site-title {
    display: none;
  }
}
#page-header .site-title strong {
  font-weight: 900;
  font-size: 1.125rem;
  /*18px*/
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-nav li {
  line-height: 70px;
  text-align: center;
  vertical-align: middle;
  padding: 0px 15px;
}
.main-nav li:last-child {
  background-color: #2498B3;
}
.main-nav li:hover {
  background-color: #D4F1F8;
}
.main-nav li:hover:last-child {
  background-color: #2498B3;
}
@media screen and (max-width: 1185px) {
  .main-nav li {
    line-height: 50px;
  }
}

/* MAIN
----------------------------------------- */
.main {
  position: absolute;
  top: 70px;
  left: 0;
  background-image: url(../images/bg-hero1.png), url(../images/bg-hero2.png), url(../images/bg-hero3.png);
  width: 100%;
  height: 650px;
  background-size: 140%;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (max-width: 1185px) {
  .main {
    top: 50px;
  }
}
.main .home-content {
  width: 416px;
  height: 330px;
  text-align: center;
  line-height: 1.7;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 43px 40px 19px;
}
.main .home-content .main-logo {
  display: block;
  margin: auto;
  width: 280px;
  height: 58.73px;
}
@media screen and (max-width: 768px) {
  .main .home-content .main-logo {
    display: none;
  }
}
.main .home-content p {
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .main .home-content p {
    font-size: 0.8125rem;
    /*13px*/
  }
}
.main .home-content .button {
  position: absolute;
  top: 230px;
  left: 63px;
  font-size: 1.125rem;
  /*18px*/
  background-color: #2498B3;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 25px 37px;
  display: inline-block;
  width: 290px;
  height: 68px;
}
.main .black {
  position: absolute;
  top: 720px;
  margin: -70px 0px 0px;
  background-color: black;
  width: 100%;
  height: 230px;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .main .black {
    height: 1155px;
  }
}
.main .black .recommendation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -193px 0px 0px;
}
.main .black .recommendation .recommendation-entry {
  z-index: 20;
  width: 230px;
  margin: auto 50px;
}
.main .black .recommendation .recommendation-entry i {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.main .black .recommendation .recommendation-entry h1 {
  font-size: 1.5rem;
  color: #FFFFFF;
  text-align: center;
}
.main .black .recommendation .recommendation-entry p {
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */