@charset "UTF-8";
/* 共通部分
----------------------------------------------------------------------- */
html {
  font-size: 100%;
  /*body*/
}
html body {
  font-family: "Noto Sans JP", sans-serif;
  color: #131D33;
  line-height: 1.7;
  /*-- ブレイクポイントを変数に格納 ---------------------*/
  /*スマホサイズ*/
  /*ハンバーガーボタンに使用*/
  /*ヘッダーメニューの幅を狭める時に使用*/
  /*ロゴ横タイトルを消す時に使用*/
  /*-----レスポンシブ対応------------------------------*/
  /* HEADER
  -------------------------------------------------------------------- */
  /*#page-header*/
  /*#hamburger*/
  /* MAIN
  ----------------------------------------------------------------------- */
  /*.main*/
}
html body a {
  text-decoration: none;
  color: #131D33;
}
html body li {
  list-style: none;
}
html body img {
  max-width: 100%;
}
html body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: 1px solid red;
}
html body #page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  /*スクロール時にヘッダーを固定表示*/
  z-index: 3;
  /*mainがヘッダーに重ならないように設定*/
}
@media screen and (max-width: 1185px) {
  html body #page-header {
    height: 50px;
  }
}
html body #page-header .header-logo {
  font-weight: 900;
  width: 160px;
  margin: 20px 0px 0px 20px;
  vertical-align: middle;
}
@media screen and (max-width: 1185px) {
  html body #page-header .header-logo {
    margin: 10px 0px 0px 10px;
  }
}
html body #page-header .site-title {
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 190px;
  font-size: 0.875rem;
  /*14px*/
  font-weight: 900;
}
@media screen and (max-width: 1265px) {
  html body #page-header .site-title {
    display: none;
  }
}
html body #page-header .site-title strong {
  font-weight: 900;
  font-size: 1.125rem;
  /*18px*/
}
html body #hamburger {
  /*btn-gNav*/
  /*#gNav*/
}
html body #hamburger .btn-gNav {
  /*ハンバーガーボタンの配置位置*/
  position: fixed;
  top: 0px;
  right: 0px;
  /*ハンバーガーボタンの大きさ*/
  width: 48px;
  height: 48px;
  /*最前面に*/
  z-index: 3;
  background-color: #f6efdb;
  /*btn-line*/
}
html body #hamburger .btn-gNav:hover {
  cursor: pointer;
}
@media screen and (min-width: 1185px) {
  html body #hamburger .btn-gNav {
    /*1185px以上はハンバーガーボタン非表示*/
    display: none;
  }
}
html body #hamburger .btn-gNav.open {
  background: #2498B3;
}
html body #hamburger .btn-gNav .btn-line {
  /*真ん中のバーガー線*/
  display: block;
  margin-left: auto;
  /*バーガー線を水平中央寄せ*/
  margin-right: auto;
  /*バーガー線を水平中央寄せ*/
  position: relative;
  /*バーガー線の基準位置*/
  width: 22px;
  /*線の長さと高さ*/
  height: 2px;
  background-color: #2498B3;
  /*バーガー線の色*/
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /*上のバーガー線*/
  /*下のバーガー線*/
}
html body #hamburger .btn-gNav .btn-line.open {
  background-color: transparent;
  /*透過させる*/
}
html body #hamburger .btn-gNav .btn-line::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2498B3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}
html body #hamburger .btn-gNav .btn-line.open::before {
  content: "";
  background-color: #FFFFFF;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  /*上の線を45度傾ける*/
}
html body #hamburger .btn-gNav .btn-line::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2498B3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}
html body #hamburger .btn-gNav .btn-line.open::after {
  content: "";
  background-color: #FFFFFF;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /*下の線を45度傾ける*/
}
html body #hamburger #gNav {
  /*画面外側に隠す*/
  position: fixed;
  top: 50px;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #FFFFFF;
  /*.gNav-menu*/
}
html body #hamburger #gNav.open {
  /*click時のみ表示*/
  right: 0px;
}
@media screen and (min-width: 1185px) {
  html body #hamburger #gNav {
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    width: 830px;
  }
}
html body #hamburger #gNav .gNav-menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  /*.has-sub*/
}
@media screen and (min-width: 1185px) {
  html body #hamburger #gNav .gNav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
  }
}
html body #hamburger #gNav .gNav-menu .has-sub {
  display: block;
  position: relative;
  height: 45px;
  display: -webkit-box;
  -webkit-box-align: center;
  font-weight: 700;
  white-space: nowrap;
  /*自動折り返しさせない*/
  /*.sub*/
}
html body #hamburger #gNav .gNav-menu .has-sub:last-child {
  display: none;
}
@media screen and (min-width: 1185px) {
  html body #hamburger #gNav .gNav-menu .has-sub {
    height: 70px;
    vertical-align: middle;
    padding: 0px 15px;
    text-align: center;
    cursor: pointer;
  }
  html body #hamburger #gNav .gNav-menu .has-sub:last-child {
    display: -webkit-box;
    -webkit-box-align: center;
    background-color: #2498B3;
  }
  html body #hamburger #gNav .gNav-menu .has-sub:last-child:hover {
    background-color: #2498B3;
  }
  html body #hamburger #gNav .gNav-menu .has-sub:last-child a {
    color: #FFFFFF;
  }
  html body #hamburger #gNav .gNav-menu .has-sub:hover {
    background-color: #D4F1F8;
  }
}
@media screen and (max-width: 1245px) {
  html body #hamburger #gNav .gNav-menu .has-sub {
    padding: 0px 10px;
    /*画面幅1200pxでメニュー幅を狭める*/
  }
}
@media screen and (max-width: 1185px) {
  html body #hamburger #gNav .gNav-menu .has-sub:hover {
    background-color: #e9f8fb;
  }
  html body #hamburger #gNav .gNav-menu .has-sub:hover a::after {
    display: none;
  }
}
html body #hamburger #gNav .gNav-menu .has-sub a::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 13px;
  width: 24px;
  height: 2px;
  margin-top: -1px;
  background: #121212;
  z-index: 300;
}
@media screen and (min-width: 1185px) {
  html body #hamburger #gNav .gNav-menu .has-sub a::before {
    display: none;
  }
}
html body #hamburger #gNav .gNav-menu .has-sub a::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 24px;
  width: 2px;
  height: 24px;
  margin-top: -12px;
  background: #121212;
}
@media screen and (min-width: 1185px) {
  html body #hamburger #gNav .gNav-menu .has-sub a::after {
    display: none;
  }
}
html body #hamburger #gNav .gNav-menu .has-sub .sub {
  position: absolute;
  top: 70px;
  left: 0;
  display: none;
}
@media screen and (max-width: 1185px) {
  html body #hamburger #gNav .gNav-menu .has-sub .sub {
    top: 50px;
    left: 25px;
  }
}
html body #hamburger #gNav .gNav-menu .has-sub .sub li {
  font-weight: 400;
}
html body #hamburger #gNav .gNav-menu .has-sub .sub li a {
  display: -webkit-box;
  -webkit-box-align: center;
  background-color: #e9f8fb;
  height: auto;
  padding: 15px 60px 15px 15px;
}
html body #hamburger #gNav .gNav-menu .has-sub .sub li a:hover {
  background-color: #FFFFFF;
  color: #2498b3;
}
html body .main {
  position: relative;
  top: 70px;
  left: 0;
  z-index: 1;
  background-image: url(../images/bg-hero1.png), url(../images/bg-hero2.png), url(../images/bg-hero3.png);
  width: 100vw;
  height: 650px;
  background-size: auto, auto, cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll, scroll, fixed;
  /*スクロール時の背景画像の設定*/
  /*.black*/
}
@media screen and (max-width: 1185px) {
  html body .main {
    top: 50px;
  }
}
@media screen and (max-width: 768px) {
  html body .main {
    height: 165px;
    background-size: 800px, 850px, cover;
    background-position: center -30px;
  }
}
html body .main .home-content {
  width: 416px;
  height: 330px;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 43px 40px 19px;
}
@media screen and (max-width: 768px) {
  html body .main .home-content {
    top: 120px;
    background-color: transparent;
    height: 158px;
    width: 100%;
  }
}
html body .main .home-content .main-logo {
  display: block;
  margin: auto;
  width: 280px;
  height: auto;
}
@media screen and (max-width: 768px) {
  html body .main .home-content .main-logo {
    display: none;
  }
}
html body .main .home-content p {
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  html body .main .home-content p {
    font-size: 0.8125rem;
    /*13px*/
  }
}
html body .main .home-content .button {
  font-size: 1.125rem;
  /*18px*/
  background-color: #2498B3;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 18px 37px;
  margin: 25px auto;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  html body .main .home-content .button {
    padding: 7px 19px;
    margin: 10px auto;
  }
}
html body .main .black {
  position: absolute;
  top: 720px;
  margin: -70px 0px 0px;
  width: 100%;
  height: 230px;
  z-index: 10;
  /*.recommendation*/
}
@media screen and (max-width: 768px) {
  html body .main .black {
    height: 1155px;
    top: 400px;
  }
}
html body .main .black .recommendation {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  height: 230px;
  /*.recommendation-entry*/
}
@media screen and (max-width: 768px) {
  html body .main .black .recommendation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 1240px;
  }
}
html body .main .black .recommendation .recommendation-entry {
  z-index: 20;
  width: 230px;
  margin: -193px 50px 0px;
}
@media screen and (max-width: 768px) {
  html body .main .black .recommendation .recommendation-entry {
    margin: auto 0px;
  }
}
html body .main .black .recommendation .recommendation-entry i {
  width: 230px;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*アイコンを円の中央に表示*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin: 0 auto;
}
html body .main .black .recommendation .recommendation-entry h1 {
  font-size: 1.5rem;
  color: #FFFFFF;
  text-align: center;
}
html body .main .black .recommendation .recommendation-entry p {
  color: #FFFFFF;
}

/*html*/
/*
 @include max-width(1200px) {
 &.open>a::before {
            display: block;
            content: "";
            position: absolute;
            top: 23.55px;
            right: 13px;
            width: 24px;
            height: 2px;
            margin-top: -1px;
            background: #121212;
        }
        &.open>a::after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 50px;
            height: 47.1px;
            margin-top: 0;
            background: #f7f7f7;
        }
*/
/*# sourceMappingURL=style.css.map */