@charset "UTF-8";
/* 共通部分
----------------------------------------------------------------------- */
html {
    font-size: 100%;
    body {
        font-family: 'Noto Sans JP', sans-serif;
        color: #131D33 ;
        line-height: 1.7;
        a {
            text-decoration: none;
            color: #131D33;
        }
        li {
            list-style: none;
        }
        img {
            max-width: 100%;
        }
        * {
            box-sizing: border-box;
            margin: 0px; 
            padding: 0px; 
            outline: 1px solid red;
        }
       
/*-- ブレイクポイントを変数に格納 ---------------------*/
$md: 768px; /*スマホサイズ*/
$pc: 1185px; /*ハンバーガーボタンに使用*/
$pc-md: 1245px; /*ヘッダーメニューの幅を狭める時に使用*/
$pc-lg: 1265px; /*ロゴ横タイトルを消す時に使用*/

/*-----レスポンシブ対応------------------------------*/
@mixin md {
    @media screen and (max-width: $md) {
        @content;
    }
}
@mixin pc {
    @media screen and (max-width: $pc) {
        @content;
    }
}
@mixin pc-min {
    @media screen and (min-width: $pc) {
        @content;
    }
}
@mixin pc-md {
    @media screen and (max-width: $pc-md) {
        @content;
    }
}
@mixin pc-lg {
    @media screen and (max-width: $pc-lg) {
        @content;     
    }
}

/* HEADER
-------------------------------------------------------------------- */
#page-header {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed; /*スクロール時にヘッダーを固定表示*/
    z-index: 3; /*mainがヘッダーに重ならないように設定*/
    @include pc {
        height: 50px;
    }
    .header-logo {
        font-weight: 900;
        width: 160px;
        margin: 20px 0px 0px 20px;
        vertical-align: middle;
        @include pc {
            margin: 10px 0px 0px 10px;
        }
    }
    .site-title {
        display: inline-block;
        position: absolute; 
        top: 7px;
        left: 190px;
        font-size: 0.875rem; /*14px*/
        font-weight: 900;
        @include pc-lg {
            display: none;
        }
        strong {
            font-weight: 900;
            font-size: 1.125rem;/*18px*/
        }
    } 
} /*#page-header*/

#hamburger {
    .btn-gNav {
        /*ハンバーガーボタンの配置位置*/
        position: fixed;
        top: 0px;
        right: 0px;
        /*ハンバーガーボタンの大きさ*/
        width: 48px;
        height: 48px;
        /*最前面に*/
        z-index: 3;
        background-color: #f6efdb;
        &:hover {
            cursor: pointer;
        }
        @include pc-min {  /*1185px以上はハンバーガーボタン非表示*/
            display: none;
        }
        &.open {
            background: #2498B3;
        }
        .btn-line {
            /*真ん中のバーガー線*/
            display: block;
            margin-left: auto; /*バーガー線を水平中央寄せ*/
            margin-right: auto; /*バーガー線を水平中央寄せ*/
            position: relative; /*バーガー線の基準位置*/
            width: 22px; /*線の長さと高さ*/
            height: 2px;
            background-color: #2498B3; /*バーガー線の色*/
            transition: .2s;
            &.open {
                background-color: transparent; /*透過させる*/
            }
            /*上のバーガー線*/
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #2498B3;
                transition: .5s;
                transform: translateY(-12px);
            }
            &.open::before {
                content: "";
                background-color: #FFFFFF; 
                transition: .2s;
                transform: rotate(45deg); /*上の線を45度傾ける*/
            }
            /*下のバーガー線*/
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #2498B3;
                transition: .5s;
                transform: translateY(12px);
            }
            &.open::after {
                content: "";
                background-color: #FFFFFF;
                transition: .2s;
                transform: rotate(-45deg); /*下の線を45度傾ける*/
            }
        } /*btn-line*/
    } /*btn-gNav*/
    #gNav { /*画面外側に隠す*/
        position: fixed;
        top: 50px;
        right: -100%;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: #FFFFFF;
        &.open { /*click時のみ表示*/
            right: 0px;
        }
        @include pc-min { 
            position: fixed;
            top: 0;
            right: 0;
            height: 70px;
            width: 830px;    
        }
        .gNav-menu {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            text-align: left;
            
            @include pc-min { 
                display: flex;
                flex-direction: row;
                justify-content: right;
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                right: 0;    
            }
            .has-sub {
                display: block;
                position: relative;
                height: 45px;
                display: -webkit-box;
                -webkit-box-align: center;
                font-weight: 700;
                white-space: nowrap; /*自動折り返しさせない*/
                &:last-child {
                    display: none;
                }
                @include pc-min { 
                    height: 70px;
                    vertical-align: middle;
                    padding: 0px 15px;
                    text-align: center;
                    cursor: pointer;
                    &:last-child {
                        display: -webkit-box;
                        -webkit-box-align: center;
                        background-color: #2498B3;
                        &:hover {
                            background-color: #2498B3;
                        }
                        a  {
                            color: #FFFFFF;
                        }
                    }
                    &:hover {
                        background-color: #D4F1F8;
                    }
                }

                @include pc-md { 
                    padding: 0px 10px; /*画面幅1200pxでメニュー幅を狭める*/
                }
                @include pc {
                    &:hover {
                        background-color:#e9f8fb;
                        a::after {
                            display: none;
                        }
                    }
                }
                a::before {
                    display: block;
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 13px;
                    width: 24px;
                    height: 2px;
                    margin-top: -1px;
                    background: #121212;
                    z-index: 300;
                    @include pc-min { 
                        display: none;
                    }

                }
                a::after {
                    display: block;
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 24px;
                    width: 2px;
                    height: 24px;
                    margin-top: -12px;
                    background: #121212;
                    @include pc-min { 
                        display: none;
                    }
                }
                .sub {
                    position: absolute;
                    top: 70px;
                    left: 0;
                    display: none;
                    @include pc {
                        top: 50px;
                        left: 25px;
                    } 
                    li {
                        font-weight: 400;
                        a {
                            display: -webkit-box;
                            -webkit-box-align: center;
                            background-color: #e9f8fb;
                            height: auto;
                            padding: 15px 60px 15px 15px;
                            &:hover {
                                background-color: #FFFFFF;
                                color: #2498b3;
                            }
                        }
                    }
                } /*.sub*/
            } /*.has-sub*/
        } /*.gNav-menu*/
    } /*#gNav*/
} /*#hamburger*/

/* MAIN
----------------------------------------------------------------------- */
.main {
    position: relative;
    top: 70px;
    left: 0;
    z-index: 1;
    background-image: url(../images/bg-hero1.png),url(../images/bg-hero2.png),url(../images/bg-hero3.png);
    width: 100vw;
    height: 650px;
    background-size: auto,auto,cover;
    background-repeat: no-repeat;
    background-position: center center;  
    background-attachment: scroll,scroll,fixed; /*スクロール時の背景画像の設定*/
    @include pc {
        top: 50px;
    }
    @include md {
        height: 165px;
        background-size: 800px,850px,cover;   
        background-position: center  -30px;
    }
    .home-content {
        width: 416px;
        height: 330px;
        text-align: center;
        background-color: #FFFFFF;
        border-radius: 10px;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        padding: 43px 40px 19px;
        @include md {
            top: 120px;
            background-color: transparent;
            height: 158px;
            width: 100%;
        }
        .main-logo {
            display: block;
            margin: auto;
            width: 280px;
            height: auto;
            @include md {
                display: none;
            }
        }
        p {
            margin-top: 25px;
            @include md {
                font-size: 0.8125rem;/*13px*/
            }
        }
        .button {
            font-size: 1.125rem;/*18px*/
            background-color: #2498B3;
            color: #FFFFFF;
            border-radius: 5px;
            padding: 18px 37px;
            margin: 25px auto;
            display: inline-block;
            @include md {
                padding: 7px 19px;
                margin: 10px auto;
            }
        }
    }
    .black {
        position: absolute;
        top: 720px;
        margin: -70px 0px 0px;
        width: 100%;
        height: 230px;
        z-index: 10;
        @include md {
            height: 1155px;
            top: 400px;
        }
        .recommendation {
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: space-between;
            height: 230px;
            @include md {
                flex-direction: column;
                align-items: center;
                height: 1240px;
            }
            .recommendation-entry {
                  z-index: 20;
                  width: 230px;
                  margin: -193px 50px 0px;
                  @include md {
                    margin: auto 0px;
                }
                 i {
                    width: 230px;
                    height: 230px;
                    display: flex; /*アイコンを円の中央に表示*/
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: #FFFFFF;
                    margin: 0 auto;
                  }
                  h1 {
                    font-size: 1.5rem;
                    color: #FFFFFF;
                    text-align: center;
                  }
                  p {
                    color: #FFFFFF;
                  }
            } /*.recommendation-entry*/
        } /*.recommendation*/
    } /*.black*/
} /*.main*/
} /*body*/
} /*html*/

/*
 @include max-width(1200px) {
 &.open>a::before {
            display: block;
            content: "";
            position: absolute;
            top: 23.55px;
            right: 13px;
            width: 24px;
            height: 2px;
            margin-top: -1px;
            background: #121212;
        }
        &.open>a::after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 50px;
            height: 47.1px;
            margin-top: 0;
            background: #f7f7f7;
        }
*/